{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente{% endblock %}

{% block body %}
<h1>Conditions Générales de Vente</h1>

<h2>1. Objet</h2>
<p>Les présentes Conditions Générales de Vente régissent les ventes de produits sur le site lolaparfums.</p>

<h2>2. Produits</h2>
<p>Les produits régis par les présentes CGV sont ceux qui figurent sur le site internet lolaparfums.com.</p>

<h2>3. Prix</h2>
<p>Les prix de nos produits sont indiqués en euros toutes taxes comprises (TTC). Toutes les commandes, quelle que soit leur origine, sont payables en euros.</p>

<h2>4. Responsabilité</h2>
<p>Les produits proposés sont conformes à la législation française en vigueur. La responsabilité de company_name  ne saurait être engagée en cas de non-respect de la législation du pays où le produit est livré.</p>

<h2>5. Droit applicable</h2>
<p>Les présentes conditions générales de vente sont soumises à la loi française. En cas de litige, les tribunaux français seront seuls compétents.</p>
{% endblock %}
